.Detail__total__box {
  
}
.detail__box {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.type {
}
.title {
}
.detail__box img {
}
.img__desc {
}
.description {
}
.cap {
}
.download {
}
.btn__box {
  text-align: center;
}
.detail__btn {
  background-color: #ff7b00;
  color: #fff;
  transition: all 0.2s;
}
.detail__btn:hover {
  background-color: #b5763b;
}
