.footer__box {
  background-color: #6e6e6e;
  padding: 7px 0px;
  margin-top: 30px;
}
.footer__box ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__box ul li {
  list-style: none;
  color: #fff;
}
